body {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    font-family: 'Raleway', sans-serif;
}

.page-header {
    margin-top: 80px;
}

.icon {
    height: auto;
    max-width: 50px;
}

p {
    margin: unset;
}

/*styling for modal title*/
.modal-title {
    text-transform: capitalize;
}

.modal img {
    float: left;
    width: 200px;
    margin-right: 40px;
}

.list-group-item {
    text-transform: capitalize;
    margin: 10px 10px 10px 0px;
}

    .list-group-item:last-child {
        margin: 10px 10px 10px 0px;
    }


.websiteMain {
    position: initial;
    padding: 5px 3rem;
}

ul.pokemon-list {
    padding: 0;
}

.list-group-item {
    width: auto;
}

.contactDetails {
    max-width: 200px;
}

.contactText {
    max-width: 350px;
}

.iconNote {
    font-size: 10px;
}

#contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 5px;
    min-height: 5px;
    grid-gap: 10px;
    line-height: normal;
}

#index-footer {
    display: flex;
    box-shadow: var(--box-shawdow-footer);
    background-color: var(--color-secondary-color);
    opacity: var(--opactiy-header-and-footer);
    min-height: 15%;
    padding-left: 3rem;
    padding-right: 50px;
    position: sticky;
    top: 0;
    width: 100%;
    color: var(--color-main-color);
}

.page_footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-secondary-color);
    color: black;
    opacity: var(--opactiy-header-and-footer);
    width: 100%;
    bottom: 0;
    height: 15%;
    position: absolute;
    box-shadow: var(--box-shawdow-footer);
}

@media screen and (min-width: 0px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: 1fr; 
    }
}

@media screen and (min-width: 480px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
}

@media screen and (min-width: 700px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }
}

@media screen and (min-width: 1000px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}

@media screen and (min-width: 1100px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    }
}
